<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>aleksey stepanov</title>
        <meta name="title" content="Алексей Степанов">
        <meta name="description" content="Студент бэкендер из Балашихи / Москвы">
        <link rel="stylesheet" href="static/my.css" type='text/css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather' type='text/css'>
        
        <link rel="icon" href="static/img/512.png" type="image/png"/>
    </head>

    <body>
        <header>
            <h1>Плотная всем нашим!</h1>
        </header>

        <div class="pics" 
        style="background-image: url(static/img/noise.gif);">
            <img src="static/img/ocean.gif" 
            style="
            position: absolute;
            top: 5vh;
            left: 45%;
            max-width: 45%;"
            alt="waves"/>
            <img src="static/img/hse.gif" 
            style="
            position: absolute;
            bottom: 10vh;
            left: 55%;
            max-width: 35%;"
            alt="cringy place"/>
            <img src="static/img/me.jpg" 
            style="
            position: relative;
            margin-top: 5vh;
            bottom: 2vh;
            left: 15%;
            width: 40%;"
            alt="alex"/>
        </div>

        <main>
            {{.text}}
        </main>

        <footer>
            <p>there is an imposter among us...</p>
            <img src="static/img/sussy.gif" alt="sussy baka"
                style="position: absolute;
                left: 45%;
                right: 45%;
                max-height: 5rem;"/>
        </footer>
    </body>
</html>
